.display-char {
  display: flex;
  width: 90%;
  height: 100px;
  background: white;
  margin: auto;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  font-weight: bold;
  color: green;
}
