.input-container {
  display: flex;
}
.input-box {
  width: 70%;
}
.input-char {
  width: 100%;
  height: 40px;
  font-size: 1em;
}
.reset-button {
  width: 100%;
  height: 47px;
  background: red;
  font-weight: bolder;
  font-size: 1em;
}
.button-container{
    width: 30%;
}
